/* start variable */

/* end variable */
/* start component */
.btn {
    background-color: #1f82ab; /* Sets background color of buttons */
    border: 1px solid #0f4155; /* Adds a border to the buttons */
    border-radius: 5px; /* Rounds the corners of the buttons */
    padding: 5px 10px; /* Adds padding to the buttons */
    margin: 5px 10px; /* Adds margin between buttons */
    font-size: 16px; /* Sets font size of button text */
    cursor: pointer; /* Changes cursor to pointer on hover */
    text-transform: capitalize;
    color: #e2e8ea;
    flex-basis: 20%;
}

.input {
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    background-color: #eee;
    color: #333;
}
.input::placeholder {
    color: #333;
}

.cancele {
    color: #fff;
    background-color: tomato;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
}

/* end componenet */

.page {
    height: calc(100vh - 25px);
    position: relative;
}

.box {
    width: 70%;
    height: 100%;
    background: #eee;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.button-container {
    display: flex;
    justify-content: space-around; /* Evenly distributes buttons */
    flex-wrap: wrap;
    /* margin: 50px auto; Adds margin around the button container */
    width: 100%; /* Sets width of the button container to 50% */
}

.video-container {
    width: 100%;
    background: #000;
    grid-row-start: 1;
    grid-row-end: 5;
}

.box-model {
    background-color: #fff;
    border-radius: 10px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 350px;
    height: auto;
}

.form-model {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.form-model-btn {
    display: flex;
}
.form-model-btn .btn-reset,
.form-model-btn .btn-edit {
    flex-basis: 49%;
}

/* start media query */
@media only screen and (max-width: 1324px) {
    .box {
        width: 85%;
    }
}
@media only screen and (max-width: 600px) {
    .box {
        width: 100%;
    }
}
@media only screen and (max-width: 425px) {
    /* .button-container {
    } */
    .btn {
        flex-basis: 18%;
    }
}
/* end media query */
